@import url("https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
body {
  background-color: #000 !important;
}
:root {
  --fs-xsm: 20px;
  --fs-sm: 22px;
  --fs-2sm: 26px;
  --fs-md: 49px;
  --fs-lg: 60px;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}
.fs_2sm {
  font-size: var(--fs-2sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}
/* text-color */
.text_gridient {
  background: linear-gradient(
      93.43deg,
      #fbf4b7 -10.34%,
      #31cde2 21.29%,
      #5276ff 55.79%,
      #d874ff 96.04%
    ),
    linear-gradient(
      180deg,
      #dbe86b 25.41%,
      #d874ff 38%,
      #8cf6b7 44.58%,
      #118fe9 56.73%,
      #31f4f4 62.38%,
      #5276ff 68.04%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* font-family */
.ff_highspeed {
  font-family: "High Speed" !important;
}
@font-face {
  font-family: "High Speed";
  src: url("./assets/font/high_speed_3/High\ Speed.otf");
}

.ff_magra {
  font-family: "Magra";
}
/* background */
.BgImage {
  background-image: url("../src/assets/img/png/header_bg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.navBg {
  background: rgba(0, 0, 0, 0.3);
}
.bg_black {
  background: linear-gradient(0deg, #000000 26.23%, rgba(0, 0, 0, 0) 100%);
  height: 94px;
}
/* ***************** */
.text_border3::after {
  content: "ROADMAP";
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: -1;
  background: linear-gradient(
      180deg,
      #dbe86b 25.41%,
      #d874ff 38%,
      #8cf6b7 44.58%,
      #118fe9 56.73%,
      #31f4f4 62.38%,
      #5276ff 68.04%
    ),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: blur(3px);
}
.roadmapIamge {
  background-image: url("../src/assets/img/png/roadMapImage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.box1 {
  border: 3px solid transparent;

  background: linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      padding-box,
    linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      border-box;

  transform: rotate(-90deg);
  box-shadow: inset 0px 21px 83px rgba(134, 39, 255, 0.5);
  backdrop-filter: blur(9.9734px);
  border-radius: 24px;
}
.fs_40 {
  font-size: 40px;
}
.fs_30 {
  font-size: 30px;
}
.circle::after {
  content: "";
  position: absolute;
  left: -8%;
  top: 13%;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
}
.lineSet {
  left: 10%;
  top: 15%;
  z-index: -1;
}
.lineSet3 {
  left: 10%;
  top: 20%;
  z-index: -1;
}
.cardImageSet {
  top: -48%;
  left: 18%;
  z-index: 1;
}
.boxshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 5px;
  box-shadow: inset 0 0 12px 12px rgb(60, 7, 88), inset 0 0 3px 2px rgb(196, 34, 34);
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  height: 400px;width: 400px;
}
/* navBar */
.menuitems {
  background-color: white;
  width: 20px;
  height: 2px;
}
.closeNav {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    90.44deg,
    #fbf4b7 -6.5%,
    #31cde2 24.17%,
    #5276ff 57.63%,
    #d874ff 96.66%
  );
  width: 100%;
  height: 100vh;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.openNav {
  position: fixed;
  top: 0;
  left: -100%;
  background: linear-gradient(
    90.44deg,
    #fbf4b7 -6.5%,
    #31cde2 24.17%,
    #5276ff 57.63%,
    #d874ff 96.66%
  );
  width: 100%;
  height: 100vh;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.navLinks::after {
  content: "";
  position: absolute;
  bottom: -20px;
  background: linear-gradient(
    93.43deg,
    #fbf4b7 -10.34%,
    #31cde2 21.29%,
    #5276ff 55.79%,
    #d874ff 96.04%
  );
  transform: rotate(180deg);
  height: 4px;
  width: 0;
  transition: 0.5s ease-in-out;
  right: 0;
  border-radius: 20px;
}
/* btn */
.navBtn {
  border: 0;
  padding: 17px 36px;
}
.btnHover {
  transition: 0.5s ease-in-out;
}
/* hover */
.btnHover:hover {
  color: #1470c3 !important;
}
.navLinks:hover::after {
  width: 100%;
  left: 0;
}
/* other */
.w_110 {
  width: 110px;
}
.curser {
  cursor: pointer;
}
.z_4 {
  z-index: 4;
}
.z_3 {
  z-index: 3;
}
.z_2 {
  z-index: 2;
}
.zn_1 {
  z-index: -1;
}
.w_6 {
  width: 6%;
}
/* position */
.positionBackground {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.downImageSet {
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}
.top_10 {
  top: 10%;
}
.bottom_2 {
  bottom: -2%;
}
.blueBoxPosition {
  background: #5476ff;
  filter: blur(200px);
  height: 200px;
  border-radius: 50%;
  width: 200px;
}
.cardBox {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 18.6028px 73.5254px rgba(134, 39, 255, 0.5);
  backdrop-filter: blur(8.83492px);
  border: 2.66px solid transparent;

  background: linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      padding-box,
    linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      border-box;

  border-radius: 21.2603px;
}
.transform_x_50 {
  transform: translateX(-50%);
}
/* media screen */
@media (min-width: 768px) {
  .w_md_168 {
    width: 168px;
  }
  .blueBoxPosition {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 992px) {
  .closeNav {
    all: unset;
  }
  .openNav {
    all: unset;
  }
}
@media (min-width: 1200px) {
  .vh_xl_100 {
    min-height: 100vh;
  }
}
