@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

* {
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  --fs-xsm: 20px;
  --fs-sm: 22px;
  --fs-md: 49px;
  --fs-lg: 60px;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.ff_highspeed {
  font-family: "High Speed" !important;
}

@font-face {
  font-family: "High Speed";
  src: url("./assets/font/high_speed_3/High\ Speed.otf");
}

.ff_magra {
  font-family: "Magra";
}