@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

* {
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  --fs-xsm: 20px;
  --fs-sm: 16px;
  --fs-2sm: 18px;
  --fs-md: 29px;
  --fs-lg: 22px;
  --fs-xl: 16px;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_2sm {
  font-size: var(--fs-2sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.ff_highspeed {
  font-family: "High Speed" !important;
}

@font-face {
  font-family: "High Speed";
  src: url("./assets/font/high_speed_3/High\ Speed.otf");
}

.ff_magra {
  font-family: "Magra";
}

.mine_now_btn_img {
  left: -10px;
  top: 0;
  z-index: -1;
}

.crusor_pointer {
  cursor: pointer !important;
}

.video_icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  width: 10%;
}

.video_icon:hover {
  width: 105px;
}

.our_nft_cards {
  border-radius: 51.3939px;
  height: 490px;
  border: 9.28px solid transparent;
  background: linear-gradient(black, black) padding-box, linear-gradient(90.44deg, #FBF4B7 -6.5%, #31CDE2 24.17%, #5276FF 57.63%, #D874FF 96.66%) border-box;
}

.text_white {
  color: #B2B3B4;
}

.our_nft_img_1 {
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 5%;
}

.our_nft_img_2 {
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 5%;
}

.our_nft_img_3 {
  width: 100%;
  left: 50%;
  height: 531px;
  transform: translate(-50%, 0%);
  bottom: 5%;
}

.slick-list {
  overflow: visible !important;
}

.slick-slide.slick-center div {
  transform: translateY(-10px) !important;
  height: 520px !important;
}

.slick-slide.slick-center div img {
  transform: translate(-50%, -10%) !important;
  height: 530px !important;
}

.text_gridient {
  background: linear-gradient(93.43deg,
      #fbf4b7 -10.34%,
      #31cde2 21.29%,
      #5276ff 55.79%,
      #d874ff 96.04%),
    linear-gradient(180deg,
      #dbe86b 25.41%,
      #d874ff 38%,
      #8cf6b7 44.58%,
      #118fe9 56.73%,
      #31f4f4 62.38%,
      #5276ff 68.04%),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.BgImage {
  background-image: url("../src/assets/img/png/header_bg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navBg {
  background: rgba(0, 0, 0, 0.3);
}

.bg_black {
  background: linear-gradient(0deg, #000000 26.23%, rgba(0, 0, 0, 0) 100%) !important;
  height: 94px !important;
}

/* navBar */
.menuitems {
  background-color: white;
  width: 20px;
  height: 2px;
}

.closeNav {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(90.44deg,
      #fbf4b7 -6.5%,
      #31cde2 24.17%,
      #5276ff 57.63%,
      #d874ff 96.66%);
  width: 100%;
  height: 100vh;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.openNav {
  position: fixed;
  top: 0;
  left: -100%;
  background: linear-gradient(90.44deg,
      #fbf4b7 -6.5%,
      #31cde2 24.17%,
      #5276ff 57.63%,
      #d874ff 96.66%);
  width: 100%;
  height: 100vh;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.navLinks::after {
  content: "";
  position: absolute;
  bottom: -20px;
  background: linear-gradient(93.43deg,
      #fbf4b7 -10.34%,
      #31cde2 21.29%,
      #5276ff 55.79%,
      #d874ff 96.04%);
  transform: rotate(180deg);
  height: 4px;
  width: 0;
  transition: 0.5s ease-in-out;
  right: 0;
  border-radius: 20px;
}

/* btn */
.navBtn {
  border: 0;
  padding: 17px 36px;
}

.btnHover {
  transition: 0.5s ease-in-out;
}

/* hover */
.btnHover:hover {
  color: #1470c3 !important;
}

.navLinks:hover::after {
  width: 100%;
  left: 0;
}

/* other */
.w_110 {
  width: 110px;
}

.curser {
  cursor: pointer;
}

.z_4 {
  z-index: 4;
}

.z_3 {
  z-index: 3;
}

.z_2 {
  z-index: 2;
}

.zn_1 {
  z-index: -1;
}

.w_6 {
  width: 6%;
}

/* position */
.positionBackground {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.downImageSet {
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
}

.top_10 {
  top: 30%;
}

.bottom_2 {
  bottom: -2% !important;
}

.blueBoxPosition {
  background: #5476ff;
  filter: blur(200px);
  height: 200px;
  border-radius: 50%;
  width: 200px;
}


.prev_btn {
  position: absolute;
  left: 30px;
  top: 55%;
  cursor: pointer;
  z-index: 10 !important;
}

.next_btn {
  position: absolute;
  right: 30px;
  top: 55%;
  cursor: pointer;
  z-index: 10 !important;
}

.gif_img_border {
  border: 1px solid transparent;
  background: linear-gradient(90.44deg, #FBF4B7 -6.5%, #31CDE2 24.17%, #5276FF 57.63%, #D874FF 96.66%);
  background-blend-mode: normal, normal, color, normal, normal;
  border-radius: 24px;
}

.cardBox {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 18.6028px 73.5254px rgba(134, 39, 255, 0.5);
  backdrop-filter: blur(8.83492px);
  border: 2.66px solid transparent;

  background: linear-gradient(90.44deg,
      #fbf4b7 -6.5%,
      #31cde2 24.17%,
      #5276ff 57.63%,
      #d874ff 96.66%) padding-box,
    linear-gradient(90.44deg,
      #fbf4b7 -6.5%,
      #31cde2 24.17%,
      #5276ff 57.63%,
      #d874ff 96.66%) border-box;

  border-radius: 21.2603px;
}

.transform_x_50 {
  transform: translateX(-50%);
}

/*************ACCORDION-START********************/
.accordion-button:not(.collapsed) {
  color: #ffffff !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion {
  --bs-accordion-bg: none !important;
  --bs-accordion-border-color: none !important;
}

.accordion-item {
  margin: 0 auto;
}

.accordion-button {
  color: #ffffff !important;
  padding-left: 0 !important;
  font-size: 20px !important;
  padding-top: 12px !important;
}

.accordion-item {
  color: #ffffff !important;
  border: 1px solid transparent !important;
  border-radius: 8px !important;
  background: transparent,
    linear-gradient(180deg, #f1ac73 31.68%, #15abff 100%) border-box;
}

.accordion-button::after {
  background-image: url("./assets/img/svg/accordion-close-img.svg") !important;
  rotate: 0deg !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/img/svg/accordion-open-img.svg") !important;
  rotate: 180deg !important;
}

.accordion-body {
  padding-top: 0 !important;
  padding-right: 30px !important;
}

.accordion-button:focus {
  box-sizing: unset !important;
}

.acordion_blue_line::after {
  position: absolute;
  content: "";
  left: 45px;
  bottom: -10px;
  height: 1px;
  width: 60%;
  border: 1px solid transparent;
  background: linear-gradient(105.24deg, #2B3DFB 7.72%, #5A25C4 99.27%) border-box,
    linear-gradient(0deg, #FFFFFF, #FFFFFF) padding-box;
}

.faqs_bg_img {
  background-image: url("./assets/img/png/footer_bg_img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*************ACCORDION---END********************/
.footer_icons {
  transition: 0.3s ease-in-out;
}

.footer_icons:hover {
  transform: translateY(-10px);
}

.footer_hr {
  opacity: 0.1;
  border: 1px solid #FFFFFF;
}

.fs_16 {
  font-size: 16px !important;
}

.footer_position_box {
  background: #5476FF;
  filter: blur(200px);
  width: 300px;
  height: 300px;
  bottom: 0;
  left: 0;
}

.footer_positions_circle {
  bottom: 0;
  left: 0;
}

.footer_positions_circle2 {
  bottom: 0;
  left: 0;
}

.backtotop_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 30 !important;
  animation: backtotop_btn linear infinite 2s;
}

.preloader {
  z-index: 20 !important;
  animation: preloader 4s linear infinite;
}
@keyframes backtotop_btn {
  50%{
    transform: translateY(-15px);
  }
}
@keyframes preloader {
  50% {
    transform: scale(1.3);
  }
}











@media (min-width:576px) {
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-2sm: 22px;
    --fs-md: 35px;
    --fs-lg: 40px;
    --fs-xl: 25px;
  }
}

@media (min-width:768px) {
  .w_md_168 {
    width: 168px;
  }

  .blueBoxPosition {
    height: 300px;
    width: 300px;
  }
}

@media (min-width:992px) {
  :root {
    --fs-xsm: 20px;
    --fs-sm: 18px;
    --fs-2sm: 24px;
    --fs-md: 49px;
    --fs-lg: 60px;
    --fs-xl: 30px;
  }

  .closeNav {
    all: unset;
  }

  .openNav {
    all: unset;
  }

  .downImageSet {
    bottom: -12%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width:1200px) {
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-2sm: 26px;
    --fs-md: 49px;
    --fs-lg: 60px;
    --fs-xl: 30px;
  }

  .downImageSet {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .vh_xl_100 {
    min-height: 100vh;
  }
}

@media (min-width:1400px) {
  .our_nft_img_1 {
    width: 100%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, 0%);
    bottom: 10%;
  }

  .our_nft_img_2 {
    width: 100%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, 0%);
    bottom: 10%;
  }

  .our_nft_img_3 {
    width: 100%;
    left: 50%;
    height: 531px;
    transform: translate(-50%, 0%);
    bottom: 10%;
  }
}